.winners__table{
  width: 400px;
  margin-bottom: 5px;
  .table__head{
    background: #617aab;
  }
  .table-line{
    height: 30px;
    .table-line__cell{
      padding: 7px;
      border: 1px solid black;
    }
  }
  .number_title,
  .time_title,
  .wins_title {
    cursor: pointer;
  }

}
