<main class="main">
  <ul class="main__ul controls">
    <li class="controls__li create-cars-menu car_property">
      <label class="create-cars-menu__cars-name label">
        <input type="text" class="label__input name_input">
      </label>
    </li>
    <li class="controls__li update-cars-menu car_property">
      <label class="create-cars-menu__cars-name label">
        <input type="text" class="label__input name_input">
      </label>
    </li>
    <li class="controls__li race-menu"></li>
  </ul>
</main>
