<main class="main garage">
  <ul class="main__ul controls">
    <li class="controls__li create-cars-menu car_property">
      <label class="create-cars-menu__cars-name label">
        <input type="text" class="label__input name_input">
        <input type="color" class="label__input color_input">
      </label>
    </li>
    <li class="controls__li update-cars-menu car_property">
      <label class="create-cars-menu__cars-name label">
        <input type="text" class="label__input change-name_input">
        <input type="color" class="label__input change-color_input">
      </label>
    </li>
    <li class="controls__li race-menu"></li>
  </ul>
  <h2 class="main__title">Garage<span class="garage__cars-count"></span></h2>
  <h3 class="main__page-title">Page<span class="garage__page-number"></span></h3>
  <div class="tracks-container"></div>
</main>
