<main class="main winners">
  <h2 class="main__title">Winners<span class="winners__count"></span></h2>
  <h3 class="main__page-title">Page<span class="winners__page-number"></span></h3>
  <table class="winners__table table">
    <thead class="table__head">
      <tr class="table-line">
        <th class="table-line__cell table-sorted-title number_title">Number</th>
        <th class="table-line__cell">Car</th>
        <th class="table-line__cell table-sorted-title wins_title">Wins</th>
        <th class="table-line__cell table-sorted-title time_title">Best time(seconds)</th>
      </tr>
    </thead>
    <tbody class="table__body">
    </tbody>
  </table>
</main>
